# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/
ENV/

# Streamlit local configuration or runtime files
.streamlit/

# OS files
.DS_Store
Thumbs.db
